.prof-content-container {
  padding: 30px;
  background: rgba(245, 245, 245, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.prof-content-container img {
  width: 90%;
}

.prof-img-container {
  padding: 15px;
}

.prof-info-box {
  background-color: #fff;
  padding: 8px 14px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
}

.prof-info-box h6 {
  color: var(--primary);
  margin-bottom: 15px;
}

.prof-info-item {
  margin-top: 5px;
  padding: 8px 10px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
}

@media (min-width: 576px) {
  .prof-content-container {
    flex-direction: row;
    padding: 15px;
  }

  .prof-img-container {
    display: flex;
    padding: 0px;
    justify-content: center;
  }

  .prof-content-container img {
    align-items: center;
    height: auto;
    max-width: 70%;
  }
}

@media (min-width: 992px) {
  .prof-content-container img {
    align-items: center;
    height: auto;
    max-width: 65%;
  }
}