.home-container {
  padding: 20px;
}

.home-container button, .home-container button:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.home-content {
  margin-top: 3px;
}

.home-bottom {
  margin-top: 30px;
}

.home-bottom button {
  width: 40%;
  color: #FFF;
  border-radius: 4px;
  height: 38px;
}

@media (min-width: 768px) {
  .home-bottom button {
    width: 20%;
    max-width: 270px;
  }
}

@media (min-width: 1200px) {
  .home-container {
    padding: 30px 40px;
  }
}